{%extends 'base.html' %}
{% block title %} {% endblock %}


    {% block style %}

    {% endblock %}


    {% block content %}

    <h1>Coming Soon !</h1>
    <h2>Coming Soon !</h2>
    <h3>Coming Soon !</h3>
    <h4>Coming Soon !</h4>
    <h5>Coming Soon !</h5>
    <h6>Coming Soon !</h6>
    <h5>Coming Soon !</h5>
    <h4>Coming Soon !</h4>
    <h3>Coming Soon !</h3>
    <h2>Coming Soon !</h2>
    <h1>Coming Soon !</h1>
    <h2>Coming Soon !</h2>
    <h3>Coming Soon !</h3>
    <h4>Coming Soon !</h4>
    <h5>Coming Soon !</h5>
    <h6>Coming Soon !</h6>
    <h5>Coming Soon !</h5>
    <h4>Coming Soon !</h4>
    <h3>Coming Soon !</h3>
    <h2>Coming Soon !</h2>
    <h1>Coming Soon !</h1>
    
    {% endblock %}
